<p></p>
<p>GLCC</p>
<p>&quot;PRIVACY POLICY&quot;</p>
<p></p>
<p></p>
<p>GOLDCOIN COOPERATIVE is committed to be responsible based on laws and regulations on privacy applicable in Indonesia (&ldquo;Privacy Law&rdquo;) and is fully committed to respect privacy rights and issues of all User registered in our products and services.</p>
<p></p>
<p>The following Privacy Policy provides an explanation of how GOLDCOIN COOPERATIVE, along with terms of use of GOLDCOIN COOPERATIVE as set out in &ldquo;Terms &amp; Conditions&rdquo; and other Information stated in GOLDCOIN COOPERATIVE website, products and services stipulates the basis in collecting, storing, using, processing, controlling, transferring, disclosing, and protecting Personal information of User which GOLDCOIN COOPERATIVE has obtained and collected from User consisting of personal data of User, which User uses while performing registration, accessing, and using services in GOLDCOIN COOPERATIVE Products and Services.</p>
<p></p>
<p>It is important for User to be aware of and understand this Privacy Policy along with other applicable information, which will be used as the basis of management of personal data of User. This Privacy Policy (&ldquo;Privacy Policy&rdquo;) is designed to help User to understand how GOLDCOIN COOPERATIVE collects, uses, discloses, and/or processes personal data a User entrusts to GOLDCOIN COOPERATIVE and/or which GOLDCOIN COOPERATIVE has about User, whether at present or in the future, and to help User to make the right decision prior submitting personal data of User to GOLDCOIN COOPERATIVE. By continuing to access and always using GOLDCOIN COOPERATIVE Products and Services, the User is hereby deemed to agree with all Privacy Policies stated in GOLDCOIN COOPERATIVE Products and Services along with the amendments thereto.</p>
<p></p>
<p>IN THE EVENT THAT USER DOES NOT PERMIT THE PROCESSING OF PERSONAL DATA OF USER AS EXPLAINED IN THIS PRIVACY POLICY, WE DO NOT ADVISE TO USE GOLDCOIN COOPERATIVE PRODUCTS AND SERVICES OR TO ACCESS GOLDCOIN COOPERATIVE PRODUCT AND SERVICES. In the event that GOLDCOIN COOPERATIVE makes any amendment to GOLDCOIN COOPERATIVE Privacy Policy, GOLDCOIN COOPERATIVE will post such amendment or the Privacy Policy which has been amended on GOLDCOIN COOPERATIVE Products and Services. GOLDCOIN COOPERATIVE has full rights to amend this Privacy Policy at any time without requiring approval from User but by referring to the applicable laws and regulations.</p>
<p></p>
<p>This Privacy Policy includes matters as follows:</p>
<p></p>
<p>1. Personal Information obtained and collected by GOLDCOIN COOPERATIVE</p>
<p></p>
<p>1.1 Personal Information is any form of Information whether or not recorded in material form, and based on such information, the identity of a person can be directly seen or identified and reasonably known and can be directly ensured by an organization or entity which collects such information, or when combined with other information, which can directly or indirectly identify a person, and which can or may be accessed by an authorized Party in case any issue arises.</p>
<p></p>
<p>1.2 While User is using GOLDCOIN COOPERATIVE Products and Services, GOLDCOIN COOPERATIVE may collect Personal Information of User, including but not limited to the following:</p>
<p>a.<span style="white-space:pre;">&nbsp; &nbsp;&nbsp;</span>Identity data, such as name, gender, profile picture, and date of birth;</p>
<p></p>
<p>b.<span style="white-space:pre;">&nbsp; &nbsp;&nbsp;</span>Contact data, such as delivery, electronic mail address, and phone number;</p>
<p></p>
<p>c.<span style="white-space:pre;">&nbsp; &nbsp;&nbsp;</span>Account data, such as bank account and payment details;</p>
<p></p>
<p>d.<span style="white-space:pre;">&nbsp; &nbsp;&nbsp;</span>Transaction data, such as details of order or purchase of digital asset or history of transactions performed by User while using GOLDCOIN COOPERATIVE Products and Services;</p>
<p></p>
<p>e.<span style="white-space:pre;">&nbsp; &nbsp;&nbsp;</span>Technical data, such as Internet Protocol (IP) address, login data, type and version of mobile phone, settings of time and location, identity of device and device-related matters while using GOLDCOIN COOPERATIVE Products and Services;</p>
<p></p>
<p>f.<span style="white-space:pre;">&nbsp; &nbsp;&nbsp;</span>Profile data, such as username and password, purchase, order or preference intention, and response to reply and survey;</p>
<p></p>
<p>g.<span style="white-space:pre;">&nbsp; &nbsp;&nbsp;</span>Usage data, such as information on how User uses GOLDCOIN COOPERATIVE Products and Services;</p>
<p></p>
<p>h.<span style="white-space:pre;">&nbsp; &nbsp;&nbsp;</span>Location data, namely the method used by User while taking and sharing location with GOLDCOIN COOPERATIVE in the form of picture or video and uploading them to GOLDCOIN COOPERATIVE Products and Services;</p>
<p></p>
<p>i.<span style="white-space:pre;">&nbsp; &nbsp;&nbsp;</span>Biometric data, namely sound file when User uses the feature of face or other body part and sound or others which become the feature of device by uploading it to the products and services;</p>
<p></p>
<p>j.<span style="white-space:pre;">&nbsp; &nbsp;&nbsp;</span>Marketing and correspondence data, namely matters related to preferences of User in receiving marketing materials from GOLDCOIN COOPERATIVE and third parties and communication preferences of User.</p>
<p></p>
<p>1.3 User agrees not to submit any information which is inaccurate or misleading, and User agrees to inform about the inaccuracy or change of such information. GOLDCOIN COOPERATIVE has the right of discretion to require further documentation to perform verification of information submitted by User.</p>
<p></p>
<p></p>
<p>&emsp;</p>
<p>2. Use of Data by the platform and ability of GOLDCOIN COOPERATIVE to receive personal data of User in the situations as follows:</p>
<p></p>
<p>1.<span style="white-space:pre;">&nbsp; &nbsp;&nbsp;</span>When User makes account in GOLDCOIN COOPERATIVE Products and Services or updates, including therein username, e-mail address, phone number, password, address, etc.;</p>
<p></p>
<p>2.<span style="white-space:pre;">&nbsp; &nbsp;&nbsp;</span>When User uses a feature or function available on GOLDCOIN COOPERATIVE Products and Services;</p>
<p></p>
<p>3.<span style="white-space:pre;">&nbsp; &nbsp;&nbsp;</span>When User registers for a service of GOLDCOIN COOPERATIVE Products and Services or purchases a digital asset product available on GOLDCOIN COOPERATIVE Product and Services;</p>
<p></p>
<p>4.<span style="white-space:pre;">&nbsp; &nbsp;&nbsp;</span>When User records and uploads a user-generated content to GOLDCOIN COOPERATIVE Product and Services;</p>
<p></p>
<p>5.<span style="white-space:pre;">&nbsp; &nbsp;&nbsp;</span>When User participates in a competition, promotion, or survey;</p>
<p></p>
<p>6.<span style="white-space:pre;">&nbsp; &nbsp;&nbsp;</span>When User participates in an activity or campaign on GOLDCOIN COOPERATIVE Products and Services;</p>
<p></p>
<p>7.<span style="white-space:pre;">&nbsp; &nbsp;&nbsp;</span>When User logs into their account or interacts with GOLDCOIN COOPERATIVE through external service or application;</p>
<p></p>
<p>8.<span style="white-space:pre;">&nbsp; &nbsp;&nbsp;</span>When User interacts with us off-line, including when User interacts with outsourced employees of GOLDCOIN COOPERATIVE off-line.</p>
<p></p>
<p></p>
<p>3. Use of Data</p>
<p></p>
<p>GOLDCOIN COOPERATIVE may use all or some data obtained and collected from User as referred to in the previous section for matters as follows:</p>
<p></p>
<p>1.<span style="white-space:pre;">&nbsp; &nbsp;&nbsp;</span>To identifying and register User as user and to administer, verify, deactivate, or manage account of User;</p>
<p></p>
<p>2.<span style="white-space:pre;">&nbsp; &nbsp;&nbsp;</span>To facilitate or enable any verification which we consider necessary before GOLDCOIN COOPERATIVE provides services to User or before we register User as user, including the Know Your Customer process;</p>
<p></p>
<p>3.<span style="white-space:pre;">&nbsp; &nbsp;&nbsp;</span>To enable GOLDCOIN COOPERATIVE to provide, process, and facilitate, orders and payment transactions;</p>
<p></p>
<p>4.<span style="white-space:pre;">&nbsp; &nbsp;&nbsp;</span>To facilitate User Service in implementing instruction of User, dealing with or responding to any question raised by (or supposedly raised by) User and/or on behalf of User.</p>
<p>5.<span style="white-space:pre;">&nbsp; &nbsp;&nbsp;</span>To communicate with User and send information in connection with the use of platform, including but not limited to information about any update as well as support which may be required from time to time to ensure continuity of GOLDCOIN COOPERATIVE Products and Services;</p>
<p></p>
<p>6.<span style="white-space:pre;">&nbsp; &nbsp;&nbsp;</span>To inform User about any update to GOLDCOIN COOPERATIVE Products and Services or update to services provided;</p>
<p></p>
<p>7.<span style="white-space:pre;">&nbsp; &nbsp;&nbsp;</span>To monitor and analyze activity, behavior, and demographic data, including habits and responsiveness of GOLDCOIN COOPERATIVE to various services available on the platform;</p>
<p></p>
<p>8.<span style="white-space:pre;">&nbsp; &nbsp;&nbsp;</span>To send User direct or targeted marketing communication, advertising, promotion, survey, and special offer or promotion;</p>
<p></p>
<p>9.<span style="white-space:pre;">&nbsp; &nbsp;&nbsp;</span>To use information obtained from User for the purpose of research, analysis, development, and testing of product in order to improve safety and security of services on the Website, as well as for developing new feature and product;</p>
<p></p>
<p>10.<span style="white-space:pre;">&nbsp; &nbsp;&nbsp;</span>To perform monitoring or investigation of suspicious transactions or transactions indicated of containing the element of fraud or violation against the Terms and Conditions or the applicable legal provisions, as well as to take the necessary actions as follow-up of the result of monitoring or investigation of such transactions;</p>
<p></p>
<p>11.<span style="white-space:pre;">&nbsp; &nbsp;&nbsp;</span>In certain situations, GOLDCOIN COOPERATIVE may need to use or disclose User&rsquo;s data for the purpose of law enforcement or for the fulfillment of requirements of the applicable laws and regulations, including in the event of any dispute or legal proceeding between User and GOLDCOIN COOPERATIVE;</p>
<p></p>
<p>12.<span style="white-space:pre;">&nbsp; &nbsp;&nbsp;</span>Any other purpose which GOLDCOIN COOPERATIVE will inform User when obtaining approval from User is collectively referred to as (&ldquo;Purpose&rdquo;);</p>
<p></p>
<p>13.<span style="white-space:pre;">&nbsp; &nbsp;&nbsp;</span>Due to Purpose, GOLDCOIN COOPERATIVE will / may collect, use, disclose, or process personal data of User depending on the situation encountered, and it is possible that such purpose is not state above. However, GOLDCOIN COOPERATIVE will inform User about such other purpose of that kind when obtaining approval from User, except for data processing which applies without approval from User permitted by the Privacy Law.</p>
<p></p>
<p></p>
<p>&emsp;</p>
<p>4. Disclosure of Personal Data of User</p>
<p></p>
<p>GOLDCOIN COOPERATIVE guarantees that there is no sale, leakage, transfer, distribution, or lending of personal data of User to other party, without permission from User, except in the event of occurrence of the following matters or events:</p>
<p></p>
<p>1.<span style="white-space:pre;">&nbsp; &nbsp;&nbsp;</span>When there is requirement for disclosure of data of User to other party assisting GOLDCOIN COOPERATIVE in providing services on GOLDCOIN COOPERATIVE Products and Services and processing any form of activities of User on GOLDCOIN COOPERATIVE Products and Services, including but not limited to transaction process, payment verification, etc.;</p>
<p></p>
<p>2.<span style="white-space:pre;">&nbsp; &nbsp;&nbsp;</span>GOLDCOIN COOPERATIVE may provide and make available relevant data or information to GOLDCOIN COOPERATIVE business partner in accordance with rules of approval from User to use business partner&rsquo;s services, which are included in the application, website, or other platform which integrates API or its services, or business partner with whom GOLDCOIN COOPERATIVE has cooperated to deliver forms of promotional services, contest, or other dedicated matters;</p>
<p></p>
<p>3.<span style="white-space:pre;">&nbsp; &nbsp;&nbsp;</span>Other matters required by GOLDCOIN COOPERATIVE such as banking, payment, and other services with User, in this case including settlement of obstacles and other matters;</p>
<p></p>
<p>4.<span style="white-space:pre;">&nbsp; &nbsp;&nbsp;</span>GOLDCOIN COOPERATIVE may provide relevant information to vendor, consultant, marketing partner, research firm, or similar service providers;</p>
<p></p>
<p>5.<span style="white-space:pre;">&nbsp; &nbsp;&nbsp;</span>GOLDCOIN COOPERATIVE may share information of User to its subsidiaries and affiliates to help in maximizing or providing services as well as data processing for and on behalf of GOLDCOIN COOPERATIVE;</p>
<p></p>
<p>6.<span style="white-space:pre;">&nbsp; &nbsp;&nbsp;</span>GOLDCOIN COOPERATIVE discloses data of User in an effort of complying with and fulfilling legal obligations and/or based on valid request from Similar Law Enforcement Agencies and Apparatus.</p>
<p></p>
<p></p>
<p>5. Storage and Deletion of Information</p>
<p></p>
<p>1.<span style="white-space:pre;">&nbsp; &nbsp;&nbsp;</span>Personal Information of User will only be stored as long as necessary for fulfilling the purpose of its collection, or as long as such storage is required or allowed by the applicable laws and regulations. GOLDCOIN COOPERATIVE will stop storing Personal Information or delete the purpose of linking such Personal Information to you as an individual, as soon as it is considered that the purpose of collection of such Personal Information does not require storing Personal Information anymore and the storage is not necessary anymore for business or legal purposes.</p>
<p></p>
<p>2.<span style="white-space:pre;">&nbsp; &nbsp;&nbsp;</span>Personal Information of User collected by GOLDCOIN COOPERATIVE may be stored, transferred, or processed by a third-party service provider. GOLDCOIN COOPERATIVE will take reasonable effort to ensure that all of such third-party service providers provide a level of protection equivalent to the commitment of GOLDCOIN COOPERATIVE based on this Privacy Policy.</p>
<p></p>
<p>3.<span style="white-space:pre;">&nbsp; &nbsp;&nbsp;</span>Personal Information of User may also be stored or processed outside the country of the User by a party working for GOLDCOIN COOPERATIVE in other country, or by third party service provider, vendor, supplier, partner, contractor, or affiliate of GOLDCOIN COOPERATIVE. In this case, GOLDCOIN COOPERATIVE will ensure that such Personal Information continues to be a subject of level of protection equivalent to those required in the law of the country (and, in any case whatsoever, in line with our commitment in this Privacy Policy).</p>
<p></p>
<p>4.<span style="white-space:pre;">&nbsp; &nbsp;&nbsp;</span>GOLDCOIN COOPERATIVE will store and process Information as long as the account of User is active.</p>
<p></p>
<p></p>
<p>6. Cookies</p>
<p></p>
<p>1.<span style="white-space:pre;">&nbsp; &nbsp;&nbsp;</span>Cookies are small data storage in a computer or other device when User browses and/or visits GOLDCOIN COOPERATIVE website-based Product.</p>
<p></p>
<p>2.<span style="white-space:pre;">&nbsp; &nbsp;&nbsp;</span>Cookies are identifier transferred to computer or mobile device of User which enables us to identify the computer or device of User and informs GOLDCOIN COOPERATIVE about how and when Services or Platform is used or visited, by how many persons, and to trace activities on the GOLDCOIN COOPERATIVE website-based Product. GOLDCOIN COOPERATIVE may link information cookies to personal data. Cookies are also linked to information on transactions of User and Cookies are also used to deliver specific content in accordance with the interests of User and to monitor the use of GOLDCOIN COOPERATIVE Products and Services.</p>
<p></p>
<p>3.<span style="white-space:pre;">&nbsp; &nbsp;&nbsp;</span>User will automatically receive Cookies when the Computer or Device of User uses or browses GOLDCOIN COOPERATIVE website-based Product. However, User may choose to modify or choose to refuse the Use of Cookies through web or browser setting preferences in the device or computer of User.</p>
<p></p>
<p>4.<span style="white-space:pre;">&nbsp; &nbsp;&nbsp;</span>GOLDCOIN COOPERATIVE uses Google Analytics (&ldquo;Feature&rdquo;), in which data obtained from the use of such Feature include IP address of User, type of device of User, etc. (&ldquo;Data&rdquo;). Such data are used by GOLDCOIN COOPERATIVE for the development of platform and Content of GOLDCOIN COOPERATIVE as well as advertisement. User may choose to be inaccessible by Feature by means of downloading Google Analytics Opt-Out Add-on on web browser of User.</p>
<p></p>
<p>5.<span style="white-space:pre;">&nbsp; &nbsp;&nbsp;</span>GOLDCOIN COOPERATIVE may use and provide information on data of User GOLDCOIN COOPERATIVE obtained from the Use of Cookies by User to a third party, such as location data, advertising identifier, or e-mail address used for advertisement, including but not limited to for promotional and advertisement purposes in which such data cannot personally identified.</p>
<p>6.<span style="white-space:pre;">&nbsp; &nbsp;&nbsp;</span>The use of Cookies can be controlled by User through setting preferences of web browser used by User, namely by making modification or choosing to refuse the Use of Cookies. However, by making such setting, performance of service during access to GOLDCOIN COOPERATIVE website-based Product may be affected, such as certain functions and pages on GOLDCOIN COOPERATIVE website-based Product unable to perform optimally for the provision of services to User.</p>
<p></p>
<p></p>
<p>7. Personal Data Protection of User</p>
<p></p>
<p>1.<span style="white-space:pre;">&nbsp; &nbsp;&nbsp;</span>GOLDCOIN COOPERATIVE applies various safety measures and strives to ensure Personal Data of User in GOLDCOIN COOPERATIVE Products. Personal data of User are kept behind a secure network and only accessible by a small number of employees having special access right to the system. Nevertheless, the absence of absolute guarantee or security is unavoidable.</p>
<p></p>
<p>2.<span style="white-space:pre;">&nbsp; &nbsp;&nbsp;</span>GOLDCOIN COOPERATIVE will keep personal data in accordance with the Privacy Law and/or other applicable laws. Namely, GOLDCOIN COOPERATIVE will destroy or anonymize personal data of User when GOLDCOIN COOPERATIVE reasonable deems that (i) the purpose of personal data which have been collected is not functioned anymore by the storage of such personal data; (ii) the storage is not necessary anymore for any legal or commercial purposes whatsoever; and (iii) there is no instruction letter legitimating further retrieval of personal data. In the event that a User stops using GOLDCOIN COOPERATIVE Products and Services, or the license of a User to use Product and/or Services is terminated or revoked, GOLDCOIN COOPERATIVE may continue to keep, use, and/or disclose personal data of User in accordance with the Privacy Policy and obligations of GOLDCOIN COOPERATIVE under the Privacy Law. Subject to the applicable law, GOLDCOIN COOPERATIVE may securely dispose personal data of User without any prior notification to User.</p>
<p></p>
<p></p>
<p>8. Information on children</p>
<p></p>
<p>Services are not intended for children aged less than 18 years. GOLDCOIN COOPERATIVE does not intentionally collect or store personal data or any non-personal information from any person aged less than 18 years and any part of Product or other Services of GOLDCOIN COOPERATIVE is not intended for children aged less than 18 years. As parent or legal guardian, please do not give permission to children under your care to submit personal data to GOLDCOIN COOPERATIVE. In the event that personal data of children aged less than 18 years under your care are opened to GOLDCOIN COOPERATIVE, you hereby consent to the processing of personal data of the child and accept and agree to be bound to this Privacy Policy on behalf of such child. GOLDCOIN COOPERATIVE will close any account used exclusively by such children and will eliminate and/or delete any personal data GOLDCOIN COOPERATIVE believes to be sent without consent of parent or legal guardian by a child aged less than 18 years.</p>
<p></p>
<p></p>
<p>9. Disclaimer of Security and Third-Party Website</p>
<p></p>
<p>1.<span style="white-space:pre;">&nbsp; &nbsp;&nbsp;</span>GOLDCOIN COOPERATIVE DOES NOT GUARANTEE SECURITY OF PERSONAL DATA AND/OR OTHER INFORMATION THE USER SUBMITS ON A THIRD-PARTY WEBSITE. GOLDCOIN COOPERATIVE has indeed implemented a variety of security measures to maintain the safety of personal data of User with or under the control of GOLDCOIN COOPERATIVE. Personal data of User are kept behind a secure network and only accessible by a limited number of persons having special access right to the system, who are obligated to keep the confidentiality of such personal data. In the event that the User places an order or accesses personal data, GOLDCOIN COOPERATIVE offers the use of secure server. All personal data or sensitive information submitted by User are encrypted into our database and can only be accessed as stated above;</p>
<p></p>
<p>2.<span style="white-space:pre;">&nbsp; &nbsp;&nbsp;</span>In an effort of providing User with increasing value, GOLDCOIN COOPERATIVE may choose various third-party websites to be linked to, and to frame them in the Platform. GOLDCOIN COOPERATIVE may also participate in co-branding and other relationship to offer e-commerce as well as other services and features to GOLDCOIN COOPERATIVE Product visitors. All of these linked websites have separate and independent privacy policy and security settings. Even if a third party is affiliated to GOLDCOIN COOPERATIVE, GOLDCOIN COOPERATIVE has no control over these linked websites, since each of them has privacy and data collection practices separated from GOLDCOIN COOPERATIVE. It is possible that data collected by GOLDCOIN COOPERATIVE co-branding partner or third-party website (even if it is offered on or through GOLDCOIN COOPERATIVE Platform) are not received by GOLDCOIN COOPERATIVE;</p>
<p></p>
<p>3.<span style="white-space:pre;">&nbsp; &nbsp;&nbsp;</span>Therefore, GOLDCOIN COOPERATIVE is not responsible or accountable for content, security settings (or the absence of security settings), and activities of these linked websites. These linked websites are only for the convenience of User, and therefore User accesses them at the User&rsquo;s own risk. Nevertheless, GOLDCOIN COOPERATIVE strives to protect the integrity of GOLDCOIN COOPERATIVE Platform and links placed on each website, and therefore, GOLDCOIN COOPERATIVE welcomes any feedback on these linked websites (including, but not limited to, in the event that certain link is not functioning).</p>
<p></p>
<p></p>
<p>10. Update of Privacy Policy</p>
<p></p>
<p>GOLDCOIN COOPERATIVE may update this Privacy Policy at any time. GOLDCOIN COOPERATIVE hereby advises User to read carefully and always recheck every page of this privacy policy from time to time to find out about any changes which have been made to this Privacy Policy.</p>
<p></p>
<p></p>
<p>11. Questions, Issues, or Complaints</p>
<p></p>
<p>If User has any questions, issues, or complaints regarding GOLDCOIN COOPERATIVE privacy policy practices, please contact us by e-mail at support@glcc.app.</p>
<p></p>
<p>This privacy policy is effective as of 2021-02-01.</p>
<p></p>