<p></p>
<p>GLCC</p>
<p>&quot;TERMS AND CONDITIONS&quot;</p>
<p></p>
<p></p>
<p>This GOLDCOIN COOPERATIVE User Service Agreement (the &ldquo;Agreement&rdquo;) is entered into by and between GOLDCOIN COOPERATIVE User (&quot;you&quot; or the &quot;User&quot;) and GOLDCOIN COOPERATIVE (the &ldquo;Company&rdquo;, or &ldquo;we&rdquo; or &ldquo;GOLDCOIN COOPERATIVE&rdquo;) regarding respective rights and obligations relating to the various products and services (including the &ldquo;Website&rdquo; www.goldcoin.id, www.goldcoin.co.id, www.glcc.app; the &ldquo;Mobile App&rdquo; GLCC, Gold Gainer; Buy or rent mining equipment and others) provided by GOLDCOIN COOPERATIVE. If you wish to access and use the Services provided by GOLDCOIN COOPERATIVE, you shall carefully read the entirety of this Agreement. By registering as a member, you declare that you have Read, Understood and Agreed to the Terms and Conditions below. You are advised to read all terms and conditions carefully before using GOLDCOIN COOPERATIVE Products and Services, and together with this you agree and commit yourself to all activities in this User Service Agreement, and this Agreement shall have legal and binding effect on both parties.</p>
<p></p>
<p>In view of the continuous development and evolution of the nature and content of Internet information services, you agree that GOLDCOIN COOPERATIVE has the right to modify the terms of this Agreement and to notify you of the modified Agreement by online publication or by any other reasonable means. You agree to regularly and frequently check the Website or related Products: GLCC, Gold Gainer or any campaign information for the latest version of the Agreement. If you do not agree to the latest version of the Agreement after such modification, you shall discontinue your use of the Services provided by GOLDCOIN COOPERATIVE. Your continued use of the Services provided by GOLDCOIN COOPERATIVE will be deemed your acceptance and consent of the latest version of the Agreement.</p>
<p></p>
<p></p>
<p>Acceptance of Terms</p>
<p>Please read the agreement carefully, especially the bold sections. If you have any concerns, please do not proceed to the next step. You can contact us though our support page and we can provide further explanations for you. You acknowledge that you have read and agreed to this agreement prior to your access to and use of GLCC, Gold Gainer and Other Services.</p>
<p></p>
<p>We may amend this Agreement at any time by posting an updated version at www.goldcoin.co.id and www.goldcoin.id (&ldquo;GOLDCOIN COOPERATIVE Sites&rdquo;). The updated version of this Agreement shall take effect immediately upon posting. By continuing to access and use your App Services, you confirm that you agree to be bound by this Agreement as may be amended from time to time.</p>
<p></p>
<p>&emsp;</p>
<p>You hereby promise:</p>
<p>a)<span style="white-space:pre;">&nbsp; &nbsp;&nbsp;</span>You are at least 18 years of age and have full civil capacity.</p>
<p></p>
<p>b)<span style="white-space:pre;">&nbsp; &nbsp;&nbsp;</span>You accept and use the services provided by GOLDCOIN COOPERATIVE in accordance with applicable laws and regulations and policies in your country of residence/country and does not violate your obligations to any other third party.</p>
<p></p>
<p>c)<span style="white-space:pre;">&nbsp; &nbsp;&nbsp;</span>You find that when you are unable to commit to the provisions of paragraphs a, b of this section due to changes in facts or laws and regulations, you will immediately stop using the services provided by GOLDCOIN COOPERATIVE and inform GOLDCOIN COOPERATIVE to stop the service through the customer service channel. After terminating the service, GOLDCOIN COOPERATIVE has the right to terminate your consent immediately: In this case, GOLDCOIN COOPERATIVE is under no obligation to transmit any unprocessed or unfinished services to you or any third party.</p>
<p></p>
<p></p>
<p>Risk Disclosure</p>
<p>Before using the Products and Services provided by GOLDCOIN COOPERATIVE, you understand and agree:</p>
<p></p>
<p>1)<span style="white-space:pre;">&nbsp; &nbsp;&nbsp;</span>You have sufficient knowledge and experience in digital asset, trading digital asset and understand the risks associated with digital asset, including but not limited to the fact that: the price of digital asset fluctuates significantly and may even drop to zero.</p>
<p></p>
<p>2)<span style="white-space:pre;">&nbsp; &nbsp;&nbsp;</span>Any information provided by the GOLDCOIN COOPERATIVE (including but not limited to information on the Website or Product or any campaign information) cannot be deemed as GOLDCOIN COOPERATIVE is advising you to buy, trade or rent &ldquo;mining&rdquo; equipment to participate in &quot;mining&quot; digital asset and related activities. Your decision to buy, trade or rent &ldquo;mining&rdquo; equipment and participate in &quot;mining&quot; digital asset and related activities should be based on your own personal judgment. If you have questions related to trading digital asset, digital asset &ldquo;mining&rdquo; or mining pool, you should consult with industry professionals. Any information provided by GOLDCOIN COOPERATIVE (including but not limited to information on the Website, GLCC, Gold Gainer or any campaign information) should not be deemed as GOLDCOIN COOPERATIVE&rsquo;s acting as a professional advisor.&nbsp;</p>
<p></p>
<p>1.<span style="white-space:pre;">&nbsp; &nbsp;&nbsp;</span>Services</p>
<p>2.<span style="white-space:pre;">&nbsp; &nbsp;&nbsp;</span>Protection of User&apos;s Personal Information</p>
<p>3.<span style="white-space:pre;">&nbsp; &nbsp;&nbsp;</span>User&apos;s Qualification</p>
<p>4.<span style="white-space:pre;">&nbsp; &nbsp;&nbsp;</span>User&apos;s Rights</p>
<p>5.<span style="white-space:pre;">&nbsp; &nbsp;&nbsp;</span>User&apos;s Obligations</p>
<p>6.<span style="white-space:pre;">&nbsp; &nbsp;&nbsp;</span>Transaction Information</p>
<p>7.<span style="white-space:pre;">&nbsp; &nbsp;&nbsp;</span>Voucher Information</p>
<p>8.<span style="white-space:pre;">&nbsp; &nbsp;&nbsp;</span>International Use</p>
<p>9.<span style="white-space:pre;">&nbsp; &nbsp;&nbsp;</span>Dispute Resolution</p>
<p>10.<span style="white-space:pre;">&nbsp; &nbsp;&nbsp;</span>Legal Domicile</p>
<p></p>
<p>1. Services</p>
<p>1.1 GOLDCOIN COOPERATIVE uses its own system to provide the User with digital asset trading and community Services and other Services/products which may be added from time to time.</p>
<p></p>
<p>1.2 The User hereby confirms and agrees that before using any Services or activating any functions provided on the GOLDCOIN COOPERATIVE Products and Services, the User has read and understood this Agreement. The User agrees to check and review the Agreement and other rules and policies announced by GOLDCOIN COOPERATIVE for the latest updates regularly and frequently. GOLDCOIN COOPERATIVE shall not be responsible for any losses or damages caused by the User&rsquo;s ignorance of the Agreement and any other announcements made by GOLDCOIN COOPERATIVE.</p>
<p></p>
<p>1.3 We shall have rights to charge fees for specific Products and Services in accordance with products and services that user may use.</p>
<p></p>
<p>1.4 For the registration information provided by the User, the User agrees to: (1) provide legal, true, accurate and detailed personal information; and (2) update the User&apos;s information in a timely manner in case of any change. If any of the registration information provided by the User is illegal, untrue, inaccurate or incomplete, the User shall be liable for any responsibilities or consequences arising therefrom, and the Company shall reserve the right to terminate the User&apos;s right to use the GOLDCOIN COOPERATIVE Products and Services.</p>
<p></p>
<p>1.5 While the User accepts the GOLDCOIN COOPERATIVE Products and Services, the User hereby authorizes the Company or its affiliated parties to send computing power information, promotional activities, and other business information related to the Services via email, SMS, phone, etc.</p>
<p></p>
<p>1.6 You hereby agree that if you are not satisfied with the Products and Services provided by GOLDCOIN COOPERATIVE, your sole remedy is to stop using the Products and Services provided by GOLDCOIN COOPERATIVE immediately and you shall have no right to ask us to assume any other remedial measures or responsibilities.</p>
<p></p>
<p></p>
<p>2. Protection of User&apos;s Personal Information</p>
<p>2.1 GOLDCOIN COOPERATIVE attaches great importance to the protection of the User&apos;s personal information (i.e., information to identify the User independently or in combination with other information). During your use of the Services provided by GOLDCOIN COOPERATIVE, you agree that GOLDCOIN COOPERATIVE may collect, store, use, disclose and protect your personal information in accordance with its published Privacy Policy. GOLDCOIN COOPERATIVE endeavors to provide you with a clear description of how GOLDCOIN COOPERATIVE handles your personal information according to its Privacy Policy. Therefore, GOLDCOIN COOPERATIVE recommends that you read the Privacy Policy in its entirety to help you better protect your privacy. You agree to carefully read, fully understand and accept the Privacy Policy, and agree that the Privacy Policy is an integral part of this Agreement.</p>
<p></p>
<p></p>
<p>3. User&apos;s Qualification</p>
<p>3.1 You hereby represent and warrant to us as follows, which representations and warranties will be deemed repeated each time you use the Products and Services:</p>
<p></p>
<p>(1) as an individual, you are at least 18 years old, and you have the requisite power to form a binding contract and perform your obligations in accordance with the Agreement under applicable laws and regulations.</p>
<p></p>
<p>(2) as a legal person or organization, you have full legal capacity and authorization to enter into this Agreement and your obligations hereunder are binding upon you.</p>
<p></p>
<p>(3) your use of the Products and Services provided by us does not violate or conflict with any law applicable to you, and/or any contractual restriction binding on or affecting you or any of your assets you use when accessing the Products and Services provided by us; you are not subject to any economic sanctions programs administered or enforced by any relevant country or government or international authority, including but not limited to: the US Department of the Treasury&apos;s Office of Foreign Assets Control, the US Department of State, the United Nations Security Council, the European Union, Her Majesty&apos;s Treasury, the Hong Kong Monetary Authority or the Monetary Authority of Singapore; and</p>
<p></p>
<p>(4) you are using the Products and Services only for your own benefit and that you are not using the Products and Services on behalf of others or for the benefit of any third parties, unless you have obtained prior written permission from us.</p>
<p></p>
<p></p>
<p>4. User&apos;s Rights</p>
<p>4.1 Username, Email, PIN, Password and Security of the User</p>
<p></p>
<p>1)<span style="white-space:pre;">&nbsp; &nbsp;&nbsp;</span>If the User chooses to become a registered User of GOLDCOIN COOPERATIVE Products and Services, it may create and set up an account name, set up and modify personal information, etc. Any of the User&apos;s naming or use hereunder shall comply with applicable laws and regulations and network ethics, and shall not contain any insult, threat, obscenity, defamation, or any other language which may infringe on the legitimate rights and interests of any other person. GOLDCOIN COOPERATIVE may modify the relevant information of the registered User if necessary.</p>
<p></p>
<p>2)<span style="white-space:pre;">&nbsp; &nbsp;&nbsp;</span>In order to protect your GOLDCOIN COOPERATIVE Products and Services account, please make sure to keep your password secured and confidential. You shall be fully responsible for all activities that occur under your GOLDCOIN COOPERATIVE Products and Services account. Please do not use the same password in any third-party applications as the one for your GOLDCOIN COOPERATIVE Products and Services account.</p>
<p></p>
<p>3)<span style="white-space:pre;">&nbsp; &nbsp;&nbsp;</span>In addition to the PIN and password of the GOLDCOIN COOPERATIVE Products and Services account, the User shall also properly keep its secondary authentication tool, google authenticator dynamic password, mobile phone number linked to the account, and all the information and devices related to its GOLDCOIN COOPERATIVE Products and Services account, such as the authentication code sent to the User by GOLDCOIN COOPERATIVE Products and Services, etc. In case of the User&apos;s loss or disclosure, of any of the above information and/or devices, the User shall promptly inform GOLDCOIN COOPERATIVE and request GOLDCOIN COOPERATIVE to unlink, change or deregister, to minimize the losses which may arise therefrom. Regardless of whether GOLDCOIN COOPERATIVE has been notified or not, any and all the losses caused by any of such reasons shall be borne by the User.</p>
<p></p>
<p>4.2 The User shall not use the Products and Services provided by GOLDCOIN COOPERATIVE to engage in any activities that violate applicable laws and regulations. The User shall not use the Services to:</p>
<p></p>
<p>1)<span style="white-space:pre;">&nbsp; &nbsp;&nbsp;</span>support, incite or participate in any terrorist activities.</p>
<p></p>
<p>2)<span style="white-space:pre;">&nbsp; &nbsp;&nbsp;</span>participate in any money laundering activities.</p>
<p></p>
<p>3)<span style="white-space:pre;">&nbsp; &nbsp;&nbsp;</span>violate or intrude legitimate interests of others, including but not limited to interfering with other Users&rsquo; using of the Products, Services; and</p>
<p></p>
<p>4)<span style="white-space:pre;">&nbsp; &nbsp;&nbsp;</span>participate in any other activities that violate applicable laws and regulations.</p>
<p></p>
<p>4.3 The User shall not maliciously register any GOLDCOIN COOPERATIVE account by any means, including but not limited to, registration of multiple accounts for profit making, speculation, cash-outs, prize winning, etc. The User shall not embezzle any other User&apos;s account.</p>
<p></p>
<p>4.4 Using our Services shall not and will not grant the User any intellectual property rights related to our Services or ownership of the content the User have access. This Agreement does not grant the User the right to use any brand or logo (including but not limited to the GOLDCOIN COOPERATIVE Products and Services logo) used in our Products and Services. Without our prior written authorization, the User may not carry out any activities in the name of GOLDCOIN COOPERATIVE, regardless of whether these activities are for profit or not.</p>
<p></p>
<p>4.5 Any and all information released by the User on the GOLDCOIN COOPERATIVE Products and Services in any form shall comply with the applicable laws and regulations and other applicable provisions of the Website, Mobile application, conform to the public order and good customs, and does not infringe the legitimate rights and interests of any third party.</p>
<p></p>
<p>4.6 The User shall fully assume the relevant tax obligations (if any) arising from the use of the Products and Services provided by us.</p>
<p></p>
<p>4.7 GOLDCOIN COOPERATIVE Product may contain links to the websites of other independent third parties (&quot;Linked Website, Mobile Application&quot;). Any Linked Website and Mobile Application is provided only for the convenience of users or visitors. No such Linked Website and Mobile Application is controlled by the Company, and GOLDCOIN COOPERATIVE does not acknowledge or assume any responsibility for any information or material on any such Linked Website and Mobile Application. You are solely responsible for determining your interaction with any such Linked Website and Mobile Application.</p>
<p></p>
<p></p>
<p>5. User&apos;s Obligations</p>
<p>5.1 You agree that we reserve the right to limit, change, suspend or even terminate all or part of the Products and Services at any time.</p>
<p></p>
<p>5.2 You acknowledge and agree that GOLDCOIN COOPERATIVE shall have the right to limit or suspend your access to the Products and the Services if (1) we suspect that you have violated any applicable laws and regulations, the Agreement, or other policies, procedures, or rules announced by GOLDCOIN COOPERATIVE; (2) we are required to do so by a subpoena, court order, or other government order; (3) your account is subject to or related to a pending litigation, investigation, and/or governmental proceeding; or (4) we notice and suspect that there are some unusual or unauthorized activities involved with your account. You agree that GOLDCOIN COOPERATIVE shall not be liable to you for any losses or damages caused by such access limitation or suspension.</p>
<p></p>
<p>5.3 You acknowledge and agree that GOLDCOIN COOPERATIVE shall have right to immediately close your account if (1) you request to terminate your account with GOLDCOIN COOPERATIVE Products and Services (however if there is applicable Specific Products and Services Agreement that prohibits such termination request, then you shall have no right to request to terminate your account with GOLDCOIN COOPERATIVE Products and Services until such prohibition is cleared in accordance with the applicable Specific Product and Service Agreement); (2) the information provided by you to us is untruthful, inaccurate or incomplete; (3) you use the Products and Services to engage in illegal activities; or (4) we reasonably determine that your account shall be terminated.</p>
<p></p>
<p>5.4 The closure of an account shall not affect any rights and obligations incurred prior to the date of account closure, including but not limited to the fees owed by you to GOLDCOIN COOPERATIVE Products and Services.</p>
<p></p>
<p></p>
<p>6. Transaction Information</p>
<p>Transaction fees in GOLDCOIN COOPERATIVE Products and Services seen from the online process can be viewed periodically and change at any time based on the policy of GOLDCOIN COOPERATIVE. DISCLAIMER, DELAY, AND CANCELLATION OF TRANSACTIONS.</p>
<p></p>
<p>1)<span style="white-space:pre;">&nbsp; &nbsp;&nbsp;</span>GOLDCOIN COOPERATIVE has the right to postpone and/or reject transactions if GOLDCOIN COOPERATIVE knows or based on consideration, suspects that fraudulent activities and/or criminal actions have been and/or will be carried out.</p>
<p>2)<span style="white-space:pre;">&nbsp; &nbsp;&nbsp;</span>User agrees and acknowledges that as long as it is permissible by applicable legal provisions, GOLDCOIN COOPERATIVE must refuse to process all transactions.</p>
<p>3)<span style="white-space:pre;">&nbsp; &nbsp;&nbsp;</span>User acknowledges that GOLDCOIN COOPERATIVE complies with the Law on financial crimes, including but not limited to, the Law on the Eradication of Corruption Crimes and the Law of Money Laundering in force in Indonesia and internationally, all laws and regulations applicable in Indonesia and GOLDCOIN COOPERATIVE internal policies. For this purpose, user hereby agrees to provide all information requested by GOLDCOIN COOPERATIVE in order to fulfill these laws and regulations including but not limited to name, address, age, gender, personal identity document, income, employment, assets, debt, source of wealth, purpose of opening an Account, investment objectives, all financial plans or other related financial information from user. If needed by GOLDCOIN COOPERATIVE, user also agrees to provide the latest data about that information to GOLDCOIN COOPERATIVE.</p>
<p>4)<span style="white-space:pre;">&nbsp; &nbsp;&nbsp;</span>GOLDCOIN COOPERATIVE is obliged to comply with the laws, regulations and requests of community institutions and the governments in different jurisdictions relating to the prevention of financing for, namely, terrorists and sanctioned parties. This can cause GOLDCOIN COOPERATIVE to intercept and investigate all payment orders and other information or communications sent to or by user, or on behalf of the user through the GOLDCOIN COOPERATIVE Products and Services system. This process can also involve GOLDCOIN COOPERATIVE to conduct further investigations to determine whether the name that appears in all transactions carried out or will be carried out by the user through the Account is the name of a known or suspected terrorist.</p>
<p>5)<span style="white-space:pre;">&nbsp; &nbsp;&nbsp;</span>GOLDCOIN COOPERATIVE will not be responsible for any loss (directly and including but not limited to profit or interest loss) or loss suffered by any party arising from delay or negligence from GOLDCOIN COOPERATIVE to process all payment orders or other information or communication or to carry out all other obligations, which are caused in whole or in part by all actions taken based on number 4 of the Transaction&rsquo;s Rejection and Delay provisions.</p>
<p>6)<span style="white-space:pre;">&nbsp; &nbsp;&nbsp;</span>GOLDCOIN COOPERATIVE is authorized to monitor user Accounts in order to prevent financial crime.</p>
<p>7)<span style="white-space:pre;">&nbsp; &nbsp;&nbsp;</span>User understands and agrees that every transaction done by the GOLDCOIN COOPERATIVE is final, and no cancellation can be made by User.</p>
<p></p>
<p></p>
<p>7. Voucher Information</p>
<p>1)<span style="white-space:pre;">&nbsp; &nbsp;&nbsp;</span>GOLDCOIN COOPERATIVE provides Products and Services for conducting Goldcoin Digital Asset, Trading and Community transactions in the form of Goldcoin Voucher (hereinafter referred to as &ldquo;voucher&rdquo;).</p>
<p>2)<span style="white-space:pre;">&nbsp; &nbsp;&nbsp;</span>User can buy voucher from Team Leaders officially selected in every region/province/state by GOLDCOIN COOPERATIVE. GOLDCOIN COOPERATIVE through these terms and conditions, it is advised not to conduct transaction activities through other space media. This matter is intended to anticipate fraud on behalf of the partner for vouchers of GOLDCOIN COOPERATIVE. All transactions that occur between User with partner that not officially selected by GOLDCOIN COOPERATIVE is not the responsibility of GOLDCOIN COOPERATIVE.</p>
<p></p>
<p></p>
<p>8. International Use</p>
<p>8.1 Without duplication of any other rights to recovery or indemnity set forth in the Agreement, you shall indemnify and hold harmless GOLDCOIN COOPERATIVE, its affiliates, and their respective directors, officers, employees and agents from and against any claims, actions, proceedings, investigations, demands, suits, costs, expenses, and damages (collectively, &ldquo;Losses&rdquo;, including attorney&rsquo;s fees) arising out of or related to (1) your violation of the applicable laws and regulations; (2) your breach of the Agreement; and/or (3) your use of the Services or your conduct in connection with GOLDCOIN COOPERATIVE.</p>
<p></p>
<p>8.2 GOLDCOIN COOPERATIVE shall not be liable for delays or errors occurring by reason of circumstances beyond its reasonable control, including but not limited to war (declared or undeclared), terrorist activities, acts of sabotage, blockade, fire, lightning, acts of god, national strikes, riots, insurrections, civil commotions, quarantine restrictions, epidemics, earthquakes, floods, hurricanes, explosions and regulatory and administrative actions or delays. In the event of such force majeure, GOLDCOIN COOPERATIVE shall take reasonable steps to minimize interruptions and loss but shall have no liability caused by or incidental to such force majeure.</p>
<p></p>
<p>8.3 TO THE MAXIMUM EXTENT PERMITTED UNDER APPLICABLE LAW, WE DO NOT REPRESENT OR WARRANT THAT THE WEBSITE AND MOBILE APPLICATION, THE PRODUCTS AND SERVICES PROVIDED BY US ARE ACCURATE, COMPLETE, RELIABLE, CURRENT, ERROR-FREE, OR FREE OF VIRUSES OR OTHER HARMFUL COMPONENTS. WITHOUT LIMITING THE FOREGOING, YOU HEREBY UNDERSTAND AND AGREE THAT WE WILL NOT BE LIABLE FOR ANY LOSSES OR DAMAGES ARISING OUT OF OR RELATING TO: (1) ANY INACCURACY, DEFECT OR OMISSION OF DATA, (2) ANY ERROR OR DELAY IN THE TRANSMISSION OF DATA, (3) INTERRUPTION TO THE SERVICES, (4) REGULAR OR UNSCHEDULED MAINTENANCE CARRIED OUT BY GOLDCOIN COOPERATIVE PRODUCT OR THIRD PARTY SERVICE PROVIDER AND SERVICE INTERRUPTION AND CHANGE RESULTING FROM SUCH MAINTENANCE, (5) ANY DAMAGES INCURRED BY OTHER USERS&rsquo; ACTIONS, OMISSIONS OR VIOLATION OF THE AGREEMENT, AND (6) ANY DAMAGE CAUSED BY ILLEGAL ACTIONS OF OTHER THIRD PARTIES OR ACTIONS WITHOUT AUTHORIZATION BY GOLDCOIN COOPERATIVE PRODUCTS AND SERVICES.</p>
<p></p>
<p>8.4 TO THE MAXIMUM EXTENT PERMITTED BY APPLICABLE LAW, IN NO EVENT SHALL THE COMPANY, ITS AFFILIATES AND THEIR RESPECTIVE SHAREHOLDERS, MEMBERS, DIRECTORS, OFFICERS, EMPLOYEES AND AGENTS BE LIABLE FOR ANY SPECIAL, INCIDENTAL, INDIRECT, PUNITIVE, CONSEQUENTIAL DAMAGES (INCLUDING BUT NOT LIMITED TO LOSS OF DATA, PROFITS, REVENUE, BUSINESS OPPORTUNITIES) ARISING OUT OF OR IN CONNECTION WITH THE SERVICES PROVIDED BY THE COMPANY, EXCEPT TO THE EXTENT THERE IS A FINAL JUDICIAL DETERMINATION THAT SUCH DAMAGES WERE A RESULT OF THE COMPANY&rsquo;S GROSS NEGLIGENVE, WILFUL MISCONDUCT, FRAUD, OR INTENTIONAL VIOLATION OF LAW.</p>
<p></p>
<p>8.5 Any and all notices to the User will be delivered by GOLDCOIN COOPERATIVE by way of announcement or letter on the Website, mobile application, email, customer service call, SMS or regular mail. Goldcoin Indonesia shall not be liable for any event or information such as prize winning, promotions, etc., that is obtained from any source other than GOLDCOIN COOPERATIVE&apos;s official channels. If you have any question related to the truthfulness of information sent in the name of GOLDCOIN COOPERATIVE, please contact us immediately.</p>
<p></p>
<p></p>
<p></p>
<p>9. Dispute Resolution</p>
<p>Any conflicts, disputes or opinion differences (hereinafter referred to as &ldquo;Disputes&rdquo;) arising in connection with the implementation of cooperation will be settled in the following ways:</p>
<p></p>
<p>9.1 That every Dispute, as far as possible, will be resolved by means of deliberation to reach consensus.</p>
<p></p>
<p>9.2 Any Disputes that can&rsquo;t be resolved by deliberation will be resolved through the Denpasar, Bali District Court.</p>
<p></p>
<p></p>
<p>10. Legal Domicile</p>
<p>The Agreement are made, interpreted and enforced based on the laws of the Republic of Indonesia. GOLDCOIN COOPERATIVE and User agreed to choose a common and unchanging legal residence at the Registrar&rsquo;s Office of the Denpasar, Bali District Court.</p>
<p></p>
<p>10.1 This Agreement is subject to and enforced based on the Acts Number 8 of 2010 about the Money Laundering and PPATK Head Regulation PER-09/1.02.2/PPATK/09/12, No.PER-12/1.02/PPATK/06-13, No.PER-12/1.02.1/PPATK/09/11 and No.PER-02/1.02/PPATK/02/2014. All transactions with nominal value above Rp100,000,000. - (one hundred million Rupiah) are required to report the transaction to the PPATK.</p>
<p></p>
<p>10.2 For things that have not been regulated in the Agreement, all provisions in the Civil Code and the provisions of other relevant laws and regulations will apply.</p>
<p></p>
<p>10.3 If GOLDCOIN COOPERATIVE changes the contents of this Agreement then GOLDCOIN COOPERATIVE will notify changes to the User in accordance with the applicable laws and regulations through media notices that are considered good by GOLDCOIN COOPERATIVE then User will be subject to the changes to the Agreement. Changes to each attachment from the Agreement will be agreed upon and hereinafter constitute a unity with and are an integral part of the Agreement.</p>
<p></p>
<p>10.4 If User does actions outside of Agreement provisions, User will be fully responsible and hereby agrees that GOLDCOIN COOPERATIVE will not provide compensation and/or liability in any form to User, or any party to all demands and/or claims and/or suits submitted by other party in connection with the actions taken by User.</p>
<p></p>
<p>10.5 User shall be complied with all requirements listed in the Agreement. User Negligence comply with or implementing contents of Agreement on one or several occasions will not eliminate User obligation to fulfill all the requirements contained in the Agreement.</p>
<p></p>
<p>The questions about the Terms and Conditions or other matters, are made through support@glcc.app.</p>
<p></p>
<p>This terms and conditions are effective as of 2021-02-01.</p>
<p></p>